

{% extends 'base.html.twig' %}
{% set page_title = 'Ajouter Agent' %}
 {% set P_page_title = 'Liste des Agents' %}
{% set P_path = '/agent' %}


{% block body %}





<!--begin::Body-->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page flex-row flex-column-fluid">

        <!--begin::Wrapper-->
        <div>
       
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
              
                <!--begin::Post-->
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container-xxl">

                        <!--begin::Basic info-->
                        <div class="card mb-5 mb-xl-10">
                            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                                <!--begin::Card title-->
                                <div class="card-title m-0">
                                    <!-- <h3 class="fw-bolder m-0">Ajout Administrateur</h3>-->
                                </div>
                                <!--end::Card title-->
                            </div>
			
		<div id="kt_account_settings_profile_details" class="collapse show">
			<div class="card-body border-top p-9" class="card-header border-0 cursor-pointer" class="collapse show">
			
				<div id="kt_account_settings_profile_details" class="collapse show">
					{{ form_start(form,{'attr': {'class': 'form fv-plugins-bootstrap5 fv-plugins-framework needs-validation" ' ,
                                                                 novalidate : 'novalidate' } 
                                                      }) 
                                                     
                                    }}

					   <div class="row mb-8">  
					
					 <div class="col-sm-4">
			      	{{ form_row(form.actif) }}
			         </div>
			 
	               
                                       <div class="col-sm-4">
                                            {{ form_row(form.authenvoiemail, {"label":"Authorisation Envoi Email "}) }}
                                            </div>
                                            
                                     <div class="col-sm-4">
                                            {{ form_row(form.authenvoisms, {"label":"Authorisation Envoi SMS "}) }}
                                            </div>
                                </div>
			 
			
						<div class="row mb-6">
							
							{{ form_label(form.utilisateur.nom, "Nom  :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}
							
							<div class="col-lg-8 fv-row fv-plugins-icon-container">
								{{ form_widget(form.utilisateur.nom, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
						        {{ form_errors(form.utilisateur.nom) }}

						</div>
						</div>
						<div class="row mb-6">
							
							{{ form_label(form.utilisateur.courriel, "Courriel :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}
							
							<div class="col-lg-8 fv-row fv-plugins-icon-container">
								{{ form_widget(form.utilisateur.courriel, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
								{{ form_errors(form.utilisateur.courriel) }}

						</div>
						</div>
					
						<div class="row mb-6">
							
							{{ form_label(form.utilisateur.nomutilisateur, "Nom Utilisateur  :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}
							
							<div class="col-lg-8 fv-row fv-plugins-icon-container">
								{{ form_widget(form.utilisateur.nomutilisateur, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
								{{ form_errors(form.utilisateur.nomutilisateur) }}

						</div>
						</div>

						<div class="row mb-6">
							
							{{ form_label(form.utilisateur.password, "Mot de Passe :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}
							
							<div class="col-lg-8 fv-row fv-plugins-icon-container">
								{{ form_widget(form.utilisateur.password, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
								{{ form_errors(form.utilisateur.password) }}
						</div>
						</div>

						<div class="row mb-6">
							
							{{ form_label(form.utilisateur.telephone, "Télephone :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}
							
							<div class="col-lg-8 fv-row fv-plugins-icon-container">
								{{ form_widget(form.utilisateur.telephone, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
						        {{ form_errors(form.utilisateur.telephone) }}

						</div>
						</div>

				         
						 <div class="row mb-6">
							
							{{ form_label(form.typeagent, "Type :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}
							
							<div class="col-lg-8 fv-row fv-plugins-icon-container">
								{{ form_widget(form.typeagent, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
								{{ form_errors(form.typeagent) }}

						</div>
						</div>
			     
		
			
			
					
			
					{# Génération automatique des champs pas encore écrits.
					Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfonyy !)
					et tous les champs cachés (type « hidden »). #}
				{{ form_rest(form) }}
			   
			<div class="card-footer d-flex justify-content-end py-6 px-9">
				<button type="reset" class="btn btn-light btn-active-light-primary me-2">Annuler</button>
			<button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Ajouter</button>
			</div>
			
					{# Fermeture de la balise <form> du formulaire HTML #}
					{{ form_end(form) }}
 </div>
                                </div>
                            </div>

                        </div>
                        <!--end::Basic info-->

                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Post-->
            </div>
          
          
            <!--end::Footer-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Root-->

              
		{% endblock %}