{% extends 'base.html.twig' %}
{% set page_title = 'Ajouter Marchand' %}
{% set P_page_title = 'Listes Marchands' %}
{% set P_path = '/marchand' %}

 
{% block body %}
 
    <!--begin::Body-->
    <body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page flex-row flex-column-fluid">

            <!--begin::Wrapper-->
            <div>
         
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
          
                    <!--begin::Post-->
                    <div class="post d-flex flex-column-fluid" id="kt_post">
                        <!--begin::Container-->
                        <div id="kt_content_container" class="container-xxl">

                            <!--begin::Basic info-->
                            <div class="card mb-5 mb-xl-10">
                                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                                    <!--begin::Card title-->
                                    <div class="card-title m-0">
                                       <!-- <h3 class="fw-bolder m-0">Ajout Marchand</h3>-->
                                    </div>
                                    <!--end::Card title-->
                                </div>
                                <!--begin::Card title-->

                                <!--end::Card title-->

                                <div id="kt_account_settings_profile_details" class="collapse show">
                                    <div id="kt_account_settings_profile_details" class="collapse show">
                                        {{ form_start(form,{'attr': {'class': 'form fv-plugins-bootstrap5 fv-plugins-framework needs-validation" ' ,
                                                                 novalidate : 'novalidate' } 
                                                      }) 
                                                     
                                    }}


                                        <div class="row mb-6">
                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                {{ form_widget(form.concessionnairemarchand.actif, {'attr': {'class': 'checkbox-switch'}}) }}
                                            </div>
                    
                                            {{ form_label(form.concessionnairemarchand.actif, "Actif :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}
                    
                    
                                        </div>

                                        <div class="row mb-6">

                                            {{ form_label(form.concessionnairemarchand.utilisateur.nom, "Nom :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}

                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                {{ form_widget(form.concessionnairemarchand.utilisateur.nom, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
                                                {{ form_errors(form.concessionnairemarchand.utilisateur.nom)}}
                               
                                            </div>
                                        </div>

                                        <div class="row mb-6">

                                            {{ form_label(form.concessionnairemarchand.utilisateur.nomutilisateur, "Nom Utilisateur :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}

                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                {{ form_widget(form.concessionnairemarchand.utilisateur.nomutilisateur, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
                                                {{ form_errors(form.concessionnairemarchand.utilisateur.nomutilisateur)}}

                                            </div>
                                        </div>

                                        <div class="row mb-6">

                                            {{ form_label(form.concessionnairemarchand.utilisateur.password, "Mot de Passe :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}

                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                {{ form_widget(form.concessionnairemarchand.utilisateur.password, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
                                                {{ form_errors(form.concessionnairemarchand.utilisateur.password)}}

                                            </div>
                                        </div>

                                        <div class="row mb-6">

                                            {{ form_label(form.concessionnairemarchand.description, "Description  :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}

                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                {{ form_widget(form.concessionnairemarchand.description, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
                                                {{ form_errors(form.concessionnairemarchand.description)}}
                                            </div>
                                        </div>

                                        <div class="row mb-6">

                                            {{ form_label(form.concessionnairemarchand.utilisateur.courriel, "Courriel :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}

                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                {{ form_widget(form.concessionnairemarchand.utilisateur.courriel, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
                                                {{ form_errors(form.concessionnairemarchand.utilisateur.courriel)}}

                                            </div>
                                        </div>

                                        <div class="row mb-6">

                                            {{ form_label(form.concessionnairemarchand.utilisateur.telephone, "Télephone :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}

                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                {{ form_widget(form.concessionnairemarchand.utilisateur.telephone, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
                                                {{ form_errors(form.concessionnairemarchand.utilisateur.telephone)}}

                                            </div>
                                        </div>

                                        <div class="row mb-6">

                                            {{ form_label(form.concessionnairemarchand.siteweb, "Siteweb :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}

                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                {{ form_widget(form.concessionnairemarchand.siteweb, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
                                                {{ form_errors(form.concessionnairemarchand.siteweb)}}

                                            </div>
                                        </div>
                                        <div class="row mb-6">

                                            {{ form_label(form.concessionnairemarchand.vendeurs, "Vendeurs :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}

                                            <div class="col-lg-6">
                                                {{ form_widget(form.concessionnairemarchand.vendeurs) }}
                                                {{ form_errors(form.concessionnairemarchand.vendeurs) }}

                                            </div>
                                        </div>
                                        <div class="row mb-6">

                                            {{ form_label(form.concessionnairemarchand.agents, "Agents :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}

                                            <div class="col-lg-6">
                                                {{ form_widget(form.concessionnairemarchand.agents) }}
                                                {{ form_errors(form.concessionnairemarchand.agents)}}

                                            </div>
                                        </div>
                                        <div class="row mb-6">

                                            {{ form_label(form.concessionnairemarchand.liendealertrack, "Lien dealer track :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}

                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                {{ form_widget(form.concessionnairemarchand.liendealertrack, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
                                                {{ form_errors(form.concessionnairemarchand.liendealertrack)}}

                                            </div>
                                        </div>

                                        <div class="row mb-6">
                                          {{ form_label(form.concessionnairemarchand.media, "Logo Fabriquant :", {'label_attr': {'class':"col-lg-4 col-form-label required fw-bold fs-6"}}) }}

                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                              
                                                {{ form_widget(form.concessionnairemarchand.media)}}
                                                {{ form_errors(form.concessionnairemarchand.media)}}

                                            </div>

                                        </div>

                                            <div class="row mb-6 pb-2 ">
                                                {%for fabNom in form.concessionnairemarchand.fabriquants %}
                                                    <div class="img_checkbox col-lg-2  col-sm-2 justify-content-center">

                                                        {{form_row(fabNom)}} 
 
                                                        <img src="{{asset(listeLogo[fabNom.vars.name])}}" style="width:45%" />{# pour connaitre les variables disponible#}
                                                     </div>
                                                {%endfor%}
                                            </div>


                                            <div class="card-footer d-flex justify-content-end py-6 px-9">
                                                <button type="reset" class="btn btn-light btn-active-light-primary me-2"><a href="{{path("marchand")}}"> Annuler</a></button>
                                                <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Ajouter</button>
                                            </div>

                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--end::Basic info-->

                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Post-->
                </div>
                <!--end::Content-->
           
           
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->
    <!--begin::Drawers-->


    <!--end::Drawers-->
    <!--end::Main-->

    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
        <span class="svg-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black" />
					<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="black" />
				</svg>
			</span>
        <!--end::Svg Icon-->
    </div>
    <!--end::Scrolltop-->

    <!--begin::Javascript-->
    <script>var hostUrl = "assets/";</script>
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script src="assets/js/custom/account/settings/signin-methods.js"></script>
    <script src="assets/js/custom/account/settings/profile-details.js"></script>
    <script src="assets/js/custom/account/settings/deactivate-account.js"></script>
    <script src="assets/js/custom/widgets.js"></script>
    <script src="assets/js/custom/apps/chat/chat.js"></script>
    <script src="assets/js/custom/modals/upgrade-plan.js"></script>
    <script src="assets/js/custom/modals/create-app.js"></script>
    <script src="assets/js/custom/modals/offer-a-deal/type.js"></script>
    <script src="assets/js/custom/modals/offer-a-deal/details.js"></script>
    <script src="assets/js/custom/modals/offer-a-deal/finance.js"></script>
    <script src="assets/js/custom/modals/offer-a-deal/complete.js"></script>
    <script src="assets/js/custom/modals/offer-a-deal/main.js"></script>
    <script src="assets/js/custom/modals/two-factor-authentication.js"></script>
    <script src="assets/js/custom/modals/users-search.js"></script>
    <!--end::Page Custom Javascript-->
    <!--end::Javascript-->
    </body>
{% endblock %}