{% extends 'base.html.twig' %}
{% set page_title = 'Consultation Lead' %}
{% set P_page_title = 'Liste des Leads' %}
{% set P_path = '/leads' %} 
  

 
{% block body %}
<head><base href="../">
    <title> Consultation Lead </title>
    <meta charset="utf-8" />

</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page flex-row flex-column-fluid">
        <!--begin::Aside-->

        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div>
     
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
           
                <!--begin::Post-->
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container-xxl">
                        <!--begin::Navbar-->
                        <div class="card mb-5 mb-xl-10">
                            <div class="card-body pt-9 pb-0">
                                <!--begin::Details-->
                                <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                                   
                                     <!--begin::Info-->
                                    <div class="flex-grow-1">
                                        <!--begin::Title-->
                                        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                                            <!--begin::User-->
                                            <div class="d-flex flex-column">
                                                <!--begin::Name-->
                                                <div class="d-flex align-items-center mb-2">
                                                    <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bolder me-1">{{lead.nom}}</a>
                                   

                                                </div>
                                                <!--end::Name-->
                                                <!--begin::Info-->
                                                <div class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2">
                                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                                        <span class="svg-icon svg-icon-4 me-1">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                <path opacity="0.3" d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z" fill="black"></path>
                                                                <path d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z" fill="black"></path>
                                                            </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->{{lead.Statusleads.nom}}</a>

                                                </div>
                                                <div class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2">

                                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary mb-2">
                                                        <!--begin::Svg Icon | path: icons/duotune/communication/com011.svg-->
                                                        <span class="svg-icon svg-icon-4 me-1">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                <path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="black"></path>
                                                                <path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="black"></path>
                                                            </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->{{lead.courriel}}</a>
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                            <!--end::User-->

                                        </div>
                                        <!--end::Title-->
                                        <!--begin::Stats-->
                          
                                        <!--end::Stats-->
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::Details--> 
                                <!--begin::Navs-->
                                <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder">
                                    <!--begin::Nav item-->
                                    <li class="nav-item mt-2">
                                        <a class="nav-link text-active-primary ms-0 me-10 py-5 active" href="{{path("leads_show",{ 'id' : lead.Id})}}">Aperçu</a>
                                    </li>
                                    <!--end::Nav item-->
                                    <!--begin::Nav item-->
                                    <li class="nav-item mt-2">
                                        <a class="nav-link text-active-primary ms-0 me-10 py-5" href="{{path("leads_edit",{ 'id' : lead.Id})}}">Modification</a>
                                    </li>
                                    <!--end::Nav item-->
                                 
                                    <!--begin::Nav item-->
                                    <li class="nav-item mt-2">
                                        <a class="nav-link text-active-primary ms-0 me-10 py-5" href="{{path('notes_index', {'idlead' : lead.id})}}">Notes</a>
                                    </li>
                                    <li class="nav-item mt-2">
                                        <a class="nav-link text-active-primary ms-0 me-10 py-5" href="{{path('files_index', {'idlead' : lead.id})}}">Documents Attaché</a>
                                    </li>

                                      <li class="nav-item mt-2">
                                        <a class="nav-link text-active-primary ms-0 me-10 py-5" href="{{path('email')}}">Email</a>
                                    </li>
                                    <!--end::Nav item-->

                                </ul>
                                <!--begin::Navs-->
                            </div>
                        </div>
                        <!--end::Navbar-->
                        <!--begin::details View-->
                        <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                            <!--begin::Card header-->
                            <div class="card-header cursor-pointer">
                                <!--begin::Card title-->
                                <div class="card-title m-0">
                                    <h3 class="fw-bolder m-0">Détails du profil</h3>
                                </div>
                                <!--end::Card title-->
                                <!--begin::Action-->
                                <a href= "{{path("leads_edit",{ 'id' : lead.Id})}}" class="btn btn-primary align-self-center">Éditer le profil</a>
                                <!--end::Action-->
                            </div>

                            <!--begin::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body p-9">
                                <!--begin::Row-->
                                
                                <div class="row mb-7">
                                    <!--begin::Label-->

                                    <label class="col-lg-4 fw-bold text-muted">Type</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                       
                                        {% if lead.type == 1 %}
                                        <span class="fw-bolder fs-6 text-gray-800">Lead Achat</span>
                                    {% else %}
                                    <span class="fw-bolder fs-6 text-gray-800">Lead Vente</span>
                                    {% endif %}
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Input group-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Rappel</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <span class="fw-bold text-gray-800 fs-6">{{ lead.rappel ? lead.rappel|date('Y-m-d') : '' }}</span>
                                        
                                    </div>
                                    <!--end::Col-->
                                </div>

                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Status Lead</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.Statusleads.nom}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Source Lead
                                        </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bolder fs-6 text-gray-800">{{lead.SourcesLeads.nom}}</span>
                                    </div>
                                    <!--end::Col-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bolder fs-6 text-gray-800"></span>
                                    </div>
                                    <!--end::Col-->

                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Date Creation</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <span class="fw-bold text-gray-800 fs-6">{{ lead.datecreation ? lead.datecreation|date('Y-m-d') : '' }}</span>
                                        
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Date de Naissance</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <span class="fw-bold text-gray-800 fs-6">{{ lead.datenaissance ? lead.datenaissance|date('Y-m-d') : '' }}</span>
                                        
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Nom</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.nom}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Courriel</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        
                                        <a href="mailto:{{lead.courriel}}" class="fw-bold fs-6 text-gray-800 text-hover-primary">{{lead.courriel}}</a>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Commantaire</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.commantaire}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Télephone</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.telephone}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Numéro de Série</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.numserie}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Status Véhicule</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.statusvehicule}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Budget Monsuelle </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.budgetmonsuelle}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Statut Professionnel  </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.statutprofessionnel}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Revenu Mensuel</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.revenumensuel}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Depuis Quand</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <span class="fw-bold text-gray-800 fs-6">{{ lead.depuisquand ? lead.depuisquand|date('Y-m-d') : '' }}</span>
                                        
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Nom de la Compagnie </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.nomcompagnie}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Poste Occupé </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.occupationposte}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Adresse Domicile</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.adressedomicile}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">location Proprietaire</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.locationproprietaire}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Paiement Monsuel</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.paiementmonsuel}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Date</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <span class="fw-bold text-gray-800 fs-6">{{ lead.date ? lead.date|date('Y-m-d') : '' }}</span>
                                        
                                        
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Marque</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.marque}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div><div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-bold text-muted">Modéle</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold text-gray-800 fs-6">{{lead.modele}}</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                            </div><div class="row mb-7">
                                <!--begin::Label-->
                                <label class="col-lg-4 fw-bold text-muted">Année</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8">
                                    <span class="fw-bold text-gray-800 fs-6">{{lead.annee}}</span>
                                </div>
                                <!--end::Col-->
                            </div>

                            <div class="row mb-7">
                                <!--begin::Label-->
                                <label class="col-lg-4 fw-bold text-muted">Agent</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                {% if lead.Agent == NULL %}
                                  <div class="col-lg-8">
                                    <span class="fw-bold text-gray-800 fs-6"> </span>
                                </div>
                                {% else %}

                                <div class="col-lg-8">
                                    <span class="fw-bold text-gray-800 fs-6">{{lead.Agent.utilisateur.nomutilisateur}}</span>
                                </div>
                                {% endif %}
                                <!--end::Col-->
                            </div>
                        <div class="row mb-7">
                            <!--begin::Label-->
                            <label class="col-lg-4 fw-bold text-muted">Vendeur</label>
                            <!--end::Label-->
                            {% if lead.Vendeurr == NULL %}
                            <div class="col-lg-8">
                                <span class="fw-bold text-gray-800 fs-6"> </span>
                            </div>
                            {% else %}
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <span class="fw-bold text-gray-800 fs-6">{{lead.Vendeurr.utilisateur.nomutilisateur}}</span>
                            </div>
                            {% endif %}
                            <!--end::Col-->
                        </div>
                       <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-bold text-muted">Partenaire</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        {% if lead.Partenaire == NULL %}
                        <div class="col-lg-8">
                            <span class="fw-bold text-gray-800 fs-6"> </span>
                        </div>
                        {% else %}
                        <div class="col-lg-8">
                            <span class="fw-bold text-gray-800 fs-6">{{lead.Partenaire.utilisateur.nomutilisateur}}</span>
                        </div>
                        {% endif %}
                        <!--end::Col-->
                    </div>
                   <div class="row mb-7">
                    <!--begin::Label-->
                    <label class="col-lg-4 fw-bold text-muted">Administrateur</label>
                    <!--end::Label-->
                    {% if lead.Administrateur == NULL %}
                    <div class="col-lg-8">
                        <span class="fw-bold text-gray-800 fs-6"> </span>
                    </div>
                    {% else %}
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <span class="fw-bold text-gray-800 fs-6">{{lead.Administrateur.utilisateur.nomutilisateur}}</span>
               
                    <!--end::Col--></div>
                    {% endif %}
                       </div>
                        <div class="row mb-7">
                            <!--begin::Label-->
                            <label class="col-lg-4 fw-bold text-muted">Concessionnaire</label>
                            <!--end::Label-->
                            {% if lead.Concessionnaire == NULL %}
                            <div class="col-lg-8">
                                <span class="fw-bold text-gray-800 fs-6"> </span>
                            </div>
                            {% else %}
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <span class="fw-bold text-gray-800 fs-6">{{lead.Concessionnaire.concessionnairemarchand.utilisateur.nomutilisateur}}</span>
                            </div>
                            {% endif %}
                            <!--end::Col-->
                        </div>
                       <div class="row mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-bold text-muted">Marchand</label>
                        <!--end::Label-->
                        {% if lead.Marchand == NULL %}
                        <div class="col-lg-8">
                            <span class="fw-bold text-gray-800 fs-6"> </span>
                        </div>
                        {% else %}
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <span class="fw-bold text-gray-800 fs-6">{{lead.Marchand.concessionnairemarchand.utilisateur.nomutilisateur}}</span>
                        </div>
                        {% endif %}
                        <!--end::Col-->
                        </div>
        
                    </div>
                                    
										
                </div>
                <!--end::Card body-->
            </div>
            <!--end::details View-->
            <!--begin::Row-->
            
            <!--end::Row-->
            <!--begin::Row-->
            
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->

</div>
<!--end::Wrapper-->
</div>
<!--end::Page-->
</div>
<!--end::Root-->

<!--begin::Modal - Users Search-->
<div class="modal fade" id="kt_modal_users_search" tabindex="-1" aria-hidden="true">
<!--begin::Modal dialog-->
<div class="modal-dialog modal-dialog-centered mw-650px">
<!--begin::Modal content-->
<div class="modal-content">
<!--begin::Modal header-->
<div class="modal-header pb-0 border-0 justify-content-end">
    <!--begin::Close-->
    <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
        <span class="svg-icon svg-icon-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
            </svg>
        </span>
        <!--end::Svg Icon-->
    </div>
    <!--end::Close-->
</div>
<!--begin::Modal header-->
</div>
<!--end::Modal content-->
</div>
<!--end::Modal dialog-->
</div>
<!--end::Modal - Users Search-->
<!--begin::Modal - Invite Friends-->

<!--end::Modal - Invite Friend-->
<!--end::Modals-->

<!--end::Javascript-->
</body>
{% endblock %}