{% extends 'base.html.twig' %}

{% block title %}OperationVente index{% endblock %}

{% block body %}
    <h1>OperationVente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numserie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operation_vente in operation_ventes %}
            <tr>
                <td>{{ operation_vente.id }}</td>
                <td>{{ operation_vente.numserie }}</td>
                <td>
                    <a href="{{ path('operation_vente_show', {'id': operation_vente.id}) }}">show</a>
                    <a href="{{ path('operation_vente_edit', {'id': operation_vente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('operation_vente_new') }}">Create new</a>
{% endblock %}
